# Logs
logs
*.log
pnpm-debug.log*

node_modules
dist
coverage
*.local

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# lock
package-lock.json
pnpm-lock.yaml


# Editor directories and files
.vscode
.idea

# generated
src/components.d.ts
src/typed-router.d.ts

# MacOS
.DS_Store
