@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200';
@import 'https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap';

/**
 * Google Fonts Material Symbols
 */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/**
 * Jetbrains Mono @ https://www.jetbrains.com/lp/mono/
 */
.jetbrains-mono {
    font-family: 'JetBrains Mono', monospace;
    font-optical-sizing: auto;
}
